{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IOTPCR</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
      #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
    </style>
</head>
{% if request.session.sessiondata == None %}
<body onload="myFunction()">
</body>
{% else %}
<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">IOTPCR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="{% url 'dcpuhome' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>View Organizations</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'addorg' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Add Organization</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseprobs" aria-expanded="true" aria-controls="collapseprobs">
        <i class="fas fa-fw fa-cog"></i>
        <span>View Problems</span>
      </a>
      <div id="collapseprobs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'viewprobs' %}">Unsolved Problems{%if probs != 0 %}({{ probs }}){% endif %}</a>
          <a class="collapse-item" href="{% url 'dcpusolvedprobs' %}">Solved Problems</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'dcpuviewattendance' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Track Attendence</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsefunds" aria-expanded="true" aria-controls="collapsefunds">
        <i class="fas fa-fw fa-cog"></i>
        <span>Funds</span>
      </a>
      <div id="collapsefunds" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'dcpuraisefund' %}">Raise Fund</a>
          <a class="collapse-item" href="{% url 'dcpuraisedfund' %}">View Raised funds</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'dcpuviewbills' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>View Bills</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0"><br>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <br><br><br>
  </ul>
  <!-- End of Sidebar -->



  <!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="navbar-nav">
        <b>{{ request.session.sessiondata }}</b>
      </ul>

      <ul class="navbar-nav ml-auto">
          <button class="btn btn-primary btn-user btn-block" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</button>
      </ul>
    </nav>



      <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
          
          <div class="col-xl-7 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  
                  <div class="col-lg-12">
                    <div class="p-5">
                      <div class="text-center" id="branch">
                        <h1 class="h4 text-gray-900 mb-4">Add Organization</h1>
                      </div>
                      <form action="{% url 'orgindata' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <input type="text" name="orgname" id="orgname" class="form-control form-control-user" placeholder="Enter Organization Name" required>
                        </div>
                        <div class="form-group">
                          <input type="text" name="ownername" id="ownername" class="form-control form-control-user" placeholder="Enter Organization Owner Name" required>
                        </div>
                        <div class="form-group">
                          <input type="text" name="orgid" id="orgid" class="form-control form-control-user" placeholder="Enter Organization id" required>
                             {% if page == 'orgindata'%}
                            <font color="red">**organizationid already exists try another**</font>
                             {% endif %}
                        </div>
                        <div class="form-group">
                          <input type="password" name="password" id="password" class="form-control form-control-user" placeholder="Enter password" required>
                        </div>
                        <div class="form-group">
                          <input type="text" name="address" id="address" class="form-control form-control-user" placeholder="House No. and Street" required>
                        </div>
                        <div class="form-group">
                          <input type="text" name="village" id="village" class="form-control form-control-user" placeholder="Village" required>
                        </div>
                        <div class="form-group">
                          <input type="text" name="city" id="city" class="form-control form-control-user" placeholder="City" required>
                        </div>
                        <div class="form-group">
                          <input type="text" name="state" id="state" class="form-control form-control-user" placeholder="State" required>
                        </div>
                        <div class="form-group">
                          <input type="number" name="phoneno" id="phoneno" class="form-control form-control-user" placeholder="Phone Number" required>
                        </div>
                        <button class="btn btn-primary btn-user btn-block">
                          Add Organization
                        </button> 
                      </form>
                    </div>
                  </div>

                  
                </div>
              </div>
    </div>

  </div>

</div>

</div>
</div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
</body>
{% endif %}
{% if status == 'done' %}
<body onload="message()">
  <div id="snackbar">Organization Added</div>
</body>
{% elif page == 'exists'%}
<body onload="message1()">
  <div id="snackbar">orgid already exists try another</div>
</body>
{% endif %}
<script>
function myFunction() {
  location.replace("{% url 'index' %}")
}

function message() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  setTimeout(redirect, 3000);
}

function message1() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

function redirect() {
  location.replace("{% url 'dcpuhome' %}")
}
</script>

</html>
