{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IOTPCR</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</head>
{% if request.session.sessiondata == None %}
<body onload="myFunction()">
</body>
{% else %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">IOTPCR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="{% url 'orghome' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>View Branches</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'addbranch' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Add Branch</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseprobs" aria-expanded="true" aria-controls="collapseprobs">
        <i class="fas fa-fw fa-cog"></i>
        <span>View Problems</span>
      </a>
      <div id="collapseprobs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'orgviewprobs' %}">Unsolved Problems{%if probs != 0 %}({{ probs }}){% endif %}</a>
          <a class="collapse-item" href="{% url 'orgsolvedprobs' %}">Solved Problems</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'orgviewattendence' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Track Attendence</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsefunds" aria-expanded="true" aria-controls="collapsefunds">
        <i class="fas fa-fw fa-cog"></i>
        <span>Funds</span>
      </a>
      <div id="collapsefunds" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'orgraisefund' %}">Raise Fund</a>
          <a class="collapse-item" href="{% url 'orgraisedfund' %}">View Raised funds</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0"><br>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <br><br><br>
  </ul>
  <!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="navbar-nav">
        <b>{{ request.session.sessiondata }}</b>
      </ul>

      <ul class="navbar-nav ml-auto">
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logoutpage" value="org"></input>
          <button class="btn btn-primary btn-user btn-block"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</button>
        </form>
      </ul>
    </nav>


    
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Solved Problems</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              {% if not data_probs %}
              &nbsp&nbsp No Solved Problems
              {% else %}
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Branch Name</th>
                    <th>Problem</th>
                    <th>Problem description</th>
                    <th>Problem Solution</th>
                    <th>Fund Raise Amount</th>
                  </tr>
                </thead>
                <tbody>
                {% for b in data_sols %}
                {% for a in data_probs %}
                {% if a == b.problem %}
                
                  <tr>
                    <td><div style='width: 100px;'>{{ a.branch.branchname }}</div></td>
                    <td><div style='width: 120px;'>{{ a.problemname }}</div></td>
                    <td><div style='width: 280px;'>{{ a.problemdes }}</div></td>
                    <td><div style='width: 280px;'>{{ b.problemsolution }}</div></td>
                    <td><div style='width: 80px;'>{{ b.fund.amount }}</div></td>
                  </tr>
                
                {%endif%}
                {%endfor%}
                {%endfor%}
              </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
  
      </div>
      

</div>

</div>
</div>        

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
</body>
{% endif %}
<script>
function myFunction() {
  location.replace("{% url 'index' %}")
}
</script>


</html>
