{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IOTPCR</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
      #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
    </style>
</head>
{% if request.session.sessiondata == None %}
<body onload="myFunction()">
</body>
{% else %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">IOTPCR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="{% url 'orghome' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>View Branches</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'addbranch' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Add Branch</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseprobs" aria-expanded="true" aria-controls="collapseprobs">
        <i class="fas fa-fw fa-cog"></i>
        <span>View Problems</span>
      </a>
      <div id="collapseprobs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'orgviewprobs' %}">Unsolved Problems{%if probs != 0 %}({{ probs }}){% endif %}</a>
          <a class="collapse-item" href="{% url 'orgsolvedprobs' %}">Solved Problems</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'orgviewattendence' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Track Attendence</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsefunds" aria-expanded="true" aria-controls="collapsefunds">
        <i class="fas fa-fw fa-cog"></i>
        <span>Funds</span>
      </a>
      <div id="collapsefunds" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'orgraisefund' %}">Raise Fund</a>
          <a class="collapse-item" href="{% url 'orgraisedfund' %}">View Raised funds</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0"><br>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <br><br><br>
  </ul>
  <!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <ul class="navbar-nav">
        <b>{{ request.session.sessiondata }}</b>
      </ul>

      <ul class="navbar-nav ml-auto">
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="logoutpage" value="org"></input>
          <button class="btn btn-primary btn-user btn-block"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</button>
        </form>
      </ul>
    </nav>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
    
          <div class="col-xl-7 col-lg-12 col-md-9">
    
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  
                  <div class="col-lg-12">
                    <div class="p-5">
                      <div class="text-center" id="dcpu">
                        <h1 class="h4 text-gray-900 mb-4">View Attendence</h1>
                      </div>
                      <form method="POST">
                        {% csrf_token %}
                        Select Branch:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <select name="branch" required>
                            <option>Select Branch</option>
                            {% for a in data %}
                            <option value="{{a.branchid}}">{{a.branchname}}-{{a.village}}</option>
                            {% endfor %}
                        </select><br><br>
                        Date:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="date" name="date" required><br><br>
                        <button class="btn btn-primary btn-user btn-block">
                          View
                        </button>  
                      </form>
                    </div>
                  </div>
  
                  
                </div>
              </div>
            </div>
    
          </div>
    
        </div>




        {% if attendence %}
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Children Attendence</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  Date: {{ date }} <br><br>
                  {% if not attendence%}
                  &nbsp &nbsp Attendence not Found
                  {% else %}
                  
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Child id</th>
                        <th>Child Name</th>
                        <th> <div style='width: 25px;'>M Att</div></th>
                        <th><div style='width: 25px;'>N Att</div></th>
                        <th>Guest Name</th>
                        <th>In time</th>
                        <th>Out Time</th>
                        <th><div style='width: 35px;'>S O T</div></th>
                        <th><div style='width: 35px;'>S I T</div></th>
                        <th>Visit Purpose</th>
                        <th><div style='width: 35px;'>O T</div></th>
                        <th><div style='width: 35px;'>I T</div></th>   
                      </tr>
                    </thead>
                    <tbody>
                    {% for a in attendence %}
                    
                    <tr>
                      <td><div style='width: 50px;'>{{ a.child.childid }}</div></td>
                      <td><div style='width: 50px;'>{{ a.child.childname }}</div></td>
                      <td><div style='width: 5px;'>
                          {% if a.morningattendence %}
                          {% if a.morningattendence == 'present' %}
                          P
                          {% else %}
                          A
                          {% endif %}
                          {% endif %}
                          </div>
                      </td>
                      <td><div style='width: 5px;'>
                          {% if a.nightattendence %}
                          {% if a.nightattendence == 'present' %}
                          P
                          {% else %}
                          A
                          {% endif %}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 50px;'>
                          {% if a.guestname %}
                          {{ a.guestname }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 35px;'>
                          {% if a.guestintime %}
                          {{ a.guestintime }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 35px;'>
                          {% if a.guestouttime %}
                          {{ a.guestouttime }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 35px;'>
                          {% if a.schoolouttime %}
                          {{ a.schoolouttime }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 35px;'>
                          {% if a.schoolintime %}
                          {{ a.schoolintime }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 50px;'>
                          {% if a.personalvisit %}
                          {{ a.personalvisit }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 35px;'>
                          {% if a.pvouttime %}
                          {{ a.pvouttime }}
                          {% endif %}
                        </div>
                      </td>
                      <td><div style='width: 35px;'>
                          {% if a.pvintime %}
                          {{ a.pvintime }}
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                    
                    {% endfor %}
                  </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
            </div>
      
          </div>
          {% endif %}
          




</div>

</div>
</div>        

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>
{% endif %}
{% if dataexists == 'no' %}
<body onload="message()">
  <div id="snackbar">Attendence not Found</div>
</body>
{% endif %}
<script>
function myFunction() {
  location.replace("{% url 'index' %}")
}

function message() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  setTimeout(redirect, 3000);
}

function redirect() {
  location.replace("{% url 'orgviewattendence' %}")
}
</script>


</html>
